<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useList</key>
	<array>
		<string>WDLoginAppViewController</string>
		<string>WDLogin_RegisterViewController</string>
		<string>WDReceptionViewController</string>
	</array>
</dict>
</plist>
